<h2>Introduction</h2>
<p>TPM is a discrete device soldered on the motherboard. It is a cheap (costs less
  than a dollar to manufacture), <b>low-end device</b> that communicates with the
  main CPU over a <b>slow, low-bandwidth</b> channel.
</p>
<p>
  TPM is a <b>passive</b> device: it doesn't monitor the system and it can't halt
  CPU execution. For it to work, it must be fed data.
</p>
<p>
  TPM has <b>limited storage</b> for runtime state and persistent data: its non-volatile
  storage is about 64KB in size. TPM can only hold a limited number of objects
  at the same time. For this reason, a dedicated software layer on the host (resource
  manager) loads and unloads session objects at runtime.
</p>
<p>
  TPM command execution is single-threaded: it executes <b>one command at a time</b>.
  Commands cannot be queued or batched together - each command must wait for the
  currently running command to finish. Note that command execution can be canceled.
</p>
<hr>
<p>
  Despite these unfavorable conditions, the TPM is designed to support critical security
  workflows. TPMs support two main use-cases: <i>secure key generation</i> and
  <i>remote system attestation</i>.
</p>
<h3>Secure Key Generation</h3>
<p>
  TPM is a cryptographic device. It can securely generate new cryptographic keys:
  the keys are only available to the TPM - private key material <b>never leaves</b>  the device in plain form.
  <br>TPM can do crypto operations such as encryption and signing. TPM can certify
  new keys, so in a way a TPM acts as a certificate authority (CA). Trust in these
  keys is rooted in a primary key provisioned by the manufacturer or the owner
  of the TPM.
</p>

<h3>Remote System Attestation</h3>
<p>
  TPM can capture the host system state: this is done by storing a sequence of measurements
  in a special set of registers called Platform Configuration Registers (PCRs).
  The TPM can later report its PCR values to a remote party. It is done in a secure
  way such that the remote attester can verify the report is fresh, genuine, and
  has not been tampered with.
</p>
