{% macro code_cell(input='') -%}
<div class="code_cell clearfix">
  <div class="row">
    <div class="col-md-1">
      <div>In:</div>
    </div>
    <div class="col-md-11">
      <div>
        <pre class="input prettyprint">{{input|e}}</pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <div>Out:</div>
    </div>
    <div class="col-md-11">
      <div>
        <pre class="output prettyprint"></pre>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button type="button" class="run btn btn-primary btn-sm pull-right">Run</button>
    </div>
  </div>
</div>
{%- endmacro %}
