<h2>PCRs</h2>

<p>
  Platform Configuration Registers (PCRs) are a set of fixed-sized registers in
  the TPM. Unlike regular registers, PCR values cannot be set to arbitrary values.
  The only operation they support (besides Read), is <b>Extend</b>.

  <br>Thanks to extend cryptographic properties, PCR values cannot be forged. For
  this reason, PCRs are used to efficiently <b>capture</b> the host <b>system state</b>: a
  digest of a sequence of measurements is securely stored in the TPM's PCRs.
</p>

<h3>Extend Semantics</h3>
<p>
  PCRs start with an initial, well known value, usually zero. Extend takes as input
  a digest <var>M</var>, and computes the hash of the current PCR value, concatenated
  with the input value. The result is stored in the PCR. This is called a <b>folding-hash</b>.

  <br>
  <div class="panel panel-default">
    <div class="panel-body">
      <dl class="dl-horizontal">
        <dt>On startup:</dt>
        <dd><var>PCR</var> &larr; 0</dd>
        <dt>On extend:</dt>
        <dd><var>PCR</var> &larr; Hash(<var>PCR</var> || <var>M</var>)</dd>
      </dl>
    </div>
  </div>

  <br> Hash is a collision resistant cryptographic hash function. A PCR stores
  a digest of a sequence of measurements. Therefore, PCR extend operation is sensitive
  to any change in the sequence: if a single bit changes, or the order of the measurements
  changes, the end result is a completely different hash value.
</p>

<p>
  Let's see this in action. First, open the <i>PCRs window</i> by either clicking
  on the <i>View</i> menu on the right, or by running the next snippet.
  <br> {{ macros.code_cell(input=" ShowPCRsWindow(); ") }}

  <br>
  <div class="alert alert-info" role="alert">We use our direct access to the simulator in order to read PCR values. We'll
    later see how to read these values securely through regular TPM commands.</div>

  <br> Note how PCRs are initialized to zero. Now we'll extend PCR1 with the digest
  of the string "Hello". <code>app.ExtendPcr</code> computes the SHA256 hash of the
  given string, and extends the given PCR with <code>TPM2_CC_PCR_Extend</code>.

  <br> {{ macros.code_cell(input="
  // Get initial PCR value.
  var pcr = ByteArrayToForgeBuffer(sim.GetPcr(1));

  // Extend PCR1 with the SHA256 digest of 'Hello'.
  var rc = app.ExtendPcr(/*pcr=*/1, 'Hello');
  assert(rc == TPM2_RC_SUCCESS, 'ExtendPcr failed');

  // Verify PCR extend semantics.
  var measurement = new forge.sha256.create()
  measurement.update('Hello');

  // PCR := Hash(PCR || M)
  var extend = new forge.sha256.create()
  extend.update(pcr.data);
  extend.update(measurement.digest().data);
  pcr = extend.digest();

  var actual = ByteArrayToForgeBuffer(sim.GetPcr(1));
  print('Expected: ', forge.util.bytesToHex(pcr.data));
  print('Actual  : ', forge.util.bytesToHex(actual.data));
  assert(_.isEqual(pcr.data, actual.data) == true, 'PCR value does not match');

  print('OK');
  ") }}

  <br>Try running the previous cell multiple times. See how the PCR value is updated.

</p>

<p>
  Folding hash computation is <b>deterministic</b>: measuring the same sequence results in the same output.
  We restart the TPM in order to initialize the PCRs to zeros.

  <br> {{ macros.code_cell(input="
  // Restart host to reset PCRs.
  app.Shutdown();
  sim.PowerOff();
  sim.PowerOn();
  app.Startup();

  // Extend PCR1 with (the SHA256 digests) of <'Hello', 'World'>.
  assert(app.ExtendPcr(/*pcr=*/1, 'Hello') == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(/*pcr=*/1, 'World') == TPM2_RC_SUCCESS, 'ExtendPcr failed');

  // Grab result.
  var result1 = ByteArrayToForgeBuffer(sim.GetPcr(1));

  // Restart host to reset PCRs.
  app.Shutdown();
  sim.PowerOff();
  sim.PowerOn();
  app.Startup();

  // Extend PCR1 with (the SHA256 digests) of <'Hello', 'World'>.
  assert(app.ExtendPcr(/*pcr=*/1, 'Hello') == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(/*pcr=*/1, 'World') == TPM2_RC_SUCCESS, 'ExtendPcr failed');

  // Compare results.
  var result2 = ByteArrayToForgeBuffer(sim.GetPcr(1));
  assert(_.isEqual(result1.data, result2.data) == true, 'PCR value does not match');

  print('OK');
  ") }}
</p>

<p>
  Folding hash computation is <b>sensitive</b> to changes: changing any measurement leads to a different output.
  We restart the TPM in order to initialize the PCRs to zeros.

  <br> {{ macros.code_cell(input="
  // Restart host to reset PCRs.
  app.Shutdown();
  sim.PowerOff();
  sim.PowerOn();
  app.Startup();

  // Sequence of measurements.
  var M = ['Hello', 'Awesome', 'World'];

  // Folding hash of <M0, M1, M2>.
  assert(app.ExtendPcr(0, M[0]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(0, M[1]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(0, M[2]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  var result0 = ByteArrayToForgeBuffer(sim.GetPcr(0));

  // Folding hash of <M1, M0, M2> (out of order).
  assert(app.ExtendPcr(1, M[1]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(1, M[0]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(1, M[2]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  var result1 = ByteArrayToForgeBuffer(sim.GetPcr(1));

  // Folding hash of <M0, M0, M1, M2> (duplicate measurement).
  assert(app.ExtendPcr(2, M[0]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(2, M[0]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(2, M[1]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(2, M[2]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  var result2 = ByteArrayToForgeBuffer(sim.GetPcr(2));

  // Folding hash of <M0, M2> (missing measurement).
  assert(app.ExtendPcr(3, M[0]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  assert(app.ExtendPcr(3, M[2]) == TPM2_RC_SUCCESS, 'ExtendPcr failed');
  var result3 = ByteArrayToForgeBuffer(sim.GetPcr(3));

  // All outputs should be different.
  assert(_.uniq([result0.data, result1.data, result2.data, result3.data]).length == 4, 'Collision');

  print('OK');
  ") }}
</p>

<h3>Reading PCR Values</h3>
<p>
  <div class="alert alert-warning" role="alert">There's one TPM command you should definitely <b>not</b> use: <code>TPM2_CC_PCR_Read</code>.
    <br>The reason: it returns PCR values, but with no security guarantees. An attacker
    can MITM your communication with the TPM, and forge arbitrary TPM2_CC_PCR_Read
    responses.
  </div>

  <br> The correct way to read PCR values is through <b>quotes</b>. A quote is a signed
  statement from the TPM, attesting to its internal state. Use <code>TPM2_CC_Quote</code>  to read fresh PCR values.
  We are going to use the AIK, our trusted signing key, to sign the PCR quote.

  <br> This shows how the first TPM functionality - performing secure crypto operations -
  complements its second functionality - reporting host system state.
</p>

<p>
  <img src="images/complement_1.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Quote Operation">
</p>

<p>
  <div class="alert alert-info" role="alert"><code>TPM2_CC_Quote</code> also takes a nonce as input. It's important to use
    a random nonce for each quote operation. This ensures the quote reports fresh
    PCR values, and protects against replay attacks.
  </div>
</p>

<h3>Quote Experiment</h3>
<p>
  In the following experiment we'll see how a remote party (also called "remote attester",
  "remote verifier" or just "verifier") asks for a fresh PCR quote. The process
  looks like this:
</p>

<p>
  <img src="images/pcr_quote.svg" class="img-responsive center-block" style="max-width:70%"
    alt="Quote Operation">
</p>

<p>
  <br> {{ macros.code_cell(input="
  // Modify PCR1.
  assert(app.ExtendPcr(/*pcr=*/1, 'Hello') == TPM2_RC_SUCCESS, 'ExtendPcr failed');

  // app.Quote selects PCR0, PCR1, PCR2 and PCR3. Therefore, the expected quote
  // is the digest of <PCR0, PCR1, PCR2, PCR3>
  var expected_pcrs = new forge.sha256.create();
  expected_pcrs.update(ByteArrayToForgeBuffer(sim.GetPcr(0)).data);
  expected_pcrs.update(ByteArrayToForgeBuffer(sim.GetPcr(1)).data);
  expected_pcrs.update(ByteArrayToForgeBuffer(sim.GetPcr(2)).data);
  expected_pcrs.update(ByteArrayToForgeBuffer(sim.GetPcr(3)).data);

  // Create a restricted RSA signing key.
  // Assume this key is trusted by the remote verifier.
  var aik = app.CreatePrimary(TPM2_RH_OWNER, TPM2_ALG_RSA,/*restricted=*/1, /*decrypt=*/0, /*sign=*/1);
  assert(aik.rc == TPM2_RC_SUCCESS, 'CreatePrimary failed');

  // Sign PCR quote with random nonce.
  var challenge = Math.random().toString(36);
  var quote_result = app.Quote(aik.handle, /*nonce=*/ challenge);
  assert(quote_result.rc == TPM2_RC_SUCCESS, 'Quote failed');

  // Unload key.
  assert(app.FlushContext(aik.handle) == TPM2_RC_SUCCESS, 'FlushContext failed');

  // Build forge RSA public key.
  var bn_n = new forge.jsbn.BigInteger(aik.rsa_public_n.substr(2), 16);
  var bn_e = new forge.jsbn.BigInteger('10001', 16);
  var pub = new forge.pki.setRsaPublicKey(bn_n, bn_e);

  // Build forge signature blob.
  assert(quote_result.sign_algo == TPM2_ALG_RSASSA, 'Unexpected sign algo');
  assert(quote_result.hash_algo == TPM2_ALG_SHA256, 'Unexpected hash algo');
  var signature = ByteArrayToForgeBuffer(quote_result.rsa_ssa_sig).data;

  // Compute message digest.
  var md = forge.md.sha256.create();
  md.update(ByteArrayToForgeBuffer(quote_result.tpm2b_attest).data);

  // Verify signature. This is done remotely.
  assert(pub.verify(md.digest().bytes(), signature, 'RSASSA-PKCS1-V1_5') == true, 'Signature verification failed');

  // Unmarshal the serialized TPMS_ATTEST buffer.
  // This process does not require any TPM secrets, and can be done by the remote verifier.
  var attested = util.UnmarshalAttestBuffer(quote_result.tpm2b_attest);
  assert(attested.rc == TPM2_RC_SUCCESS, 'Unmashal failed');

  // Magic value indicates the quote was on internal TPM data.
  assert(attested.magic == TPM2_GENERATED_VALUE, 'Expected TPM magic value');

  // TPMS_ATTEST is a union of different types (ATTEST_NV, ATTEST_CERTIFY, QUOTE, ...).
  // Verify we got a quote result back.
  assert(attested.type == TPM2_ST_ATTEST_QUOTE, 'Expected ATTEST_QUOTE type');

  // Extract the nonce from the tpm2b_attest buffer.
  // It should match the random challenge that we sent. This proves the attested data is fresh.
  var signed_nonce = ByteArrayToForgeBuffer(attested.nonce);
  assert(_.isEqual(signed_nonce.data, challenge) == true, 'Nonce does not match challenge');

  // Extract selected PCRs digest from the tpm2b_attest buffer.
  // It should match the expected digest computed above.
  var signed_pcrs = ByteArrayToForgeBuffer(attested.selected_pcr_digest);
  assert(_.isEqual(signed_pcrs.data, expected_pcrs.digest().data) == true, 'PCRs dont match');

  print('OK');
  ") }}
</p>
