<h2>Random Bytes</h2>

<p>
  As a dedicated cryptographic device, the TPM can generate secure random data. Use
  <code>TPM2_CC_GetRandom</code> to generate random bytes.

  <br>
{{ macros.code_cell(input="
  app.GetRandom(10);
") }}
</p>

<p>
  Note that a single call can generate at most 48 bytes, the size of the largest
  hash digest implemented by the TPM (<i>TPM2_ALG_SHA384</i> in this case).

  <br>
{{ macros.code_cell(input="
  assert(app.GetRandom(100).length == 48, 'Max number of random bytes');
  print('OK');
") }}


  <br><div class="alert alert-info" role="alert">
    Random data is a critical building block of cryptographic systems. The TPM uses
    its pool of random data to generate symmetric and asymmetric key material.
  </div>

</p>
