<!-- Menu + Top system status -->
<div class="row">
  <!-- Menu -->
  <div class="col-md-4">
    <div class="btn-group" role="group" aria-label="...">
      <!-- System menu -->
      <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_system"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              System
              <span class="caret"></span>
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown_system" id="system_actions">
          <li><a href="#" data-value="restart">Restart</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" data-value="clear">Clear</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#" data-value="manufacture_reset">Manufacture reset</a></li>
        </ul>
      </div>

      <!-- View menu -->
      <div class="btn-group" role="group">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_view"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              View
              <span class="caret"></span>
            </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown_view" id="view_actions">
          {% set sub_windows = [ 
           ("window_pcrs", "PCRs", false),
           ("window_seeds", "Seeds", false), 
           ("window_logs", "Logs", true), ] -%} 
          {% for id, caption, enabled in sub_windows %}
          <li><a href="#" data-value="view_{{id}}"><input type="checkbox" id="check_{{id}}" {% if enabled %}checked{%endif%}/>&nbsp;{{caption}} window</a></li>
          {% endfor %}
          <li role="separator" class="divider"></li>
          <li><a href="#" data-value="toggle_verbose_logs"><input type="checkbox" id="check_verbose_logs" checked/>&nbsp;Verbose logs</a></li>
          <li><a href="#" data-value="clear_logs">Clear log</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="center-block" role="group">
      <span class="glyphicon glyphicon-remove-sign" id="icon_powered"></span>&nbsp;Powered
      <span class="glyphicon glyphicon-remove-sign" id="icon_manufactured"></span>&nbsp;Manufactured
      <span class="glyphicon glyphicon-remove-sign" id="icon_started"></span>&nbsp;Started
      (<span id="boot_counter"></span>)
    </div>
  </div>
  <div class="col-md-2">
    <div id="simulator_version" style="font-style: italic;"></div>
  </div>
</div>

<!-- Horizontal divisor -->
<div class="row form-group">
</div>

<!-- PCRs -->
<div class="row" id="window_pcrs" style="display: none">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Registers</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped" id="table_pcrs">
          <thead>
            <tr>
              <th data-field="pcr">PCR</th>
              <th data-field="value" data-formatter="ShortHexFormatter">SHA256</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Secrets -->
<div class="row" id="window_seeds" style="display: none">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Primary Seeds</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped" id="table_seeds" data-card-view="true">
          <thead>
            <tr>
              <th data-field="hierarchy">Hierarchy</th>
              <th data-field="value" data-formatter="ShortHexFormatter">Seed</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Log window -->
<div class="row" id="window_logs">
  <div class="col-md-12">
    <textarea class="form-control" readonly rows="10" id="textarea_logs"></textarea>
  </div>
</div>

</div>
